<div class="container">
    <div class="row">
        <div ng-repeat-start="cupom in cupoms">
            <div class="cupom-container clearfix col-md-3 col-12 col-sm-4 top-buffer">
                <div class="cupom-body">
                    <img class="cupom-thumb img-responsive" src="../img/loader.gif" ng-src="{{cupom.foto}}">
                    <p class="cupom-descricao">{{cupom.descricao}}</p>
                    <p class="{{cupom.categoria}}" title="{{cupom.categoria}}"></p>
                    <div class="cupom-data" ng-hide="showdata">
                        <div class="cupom-field">
                            <p class="cupom-label">Item em promoção </p>
                            <p class="cupom-titulo">{{cupom.titulo}}</p>
                        </div>
                        <div  class="cupom-field">
                            <p class="cupom-label">Válido até </p>
                            <p class="cupom-validade">{{cupom.validade | date:'MM/dd/yyyy'}}</p>
                        </div>
                        <div  class="cupom-field">
                            <p class="cupom-label">Oferecido por</p>
                            <p class="cupom-empresa">{{cupom.empresa}}</p>
                        </div>    
                        <a type="button" class="showdata-button" ng-click="showdata=true"><i class="fa fa-map-marker" aria-hidden="true"></i></a>        
                    </div>
                    <div class="company-data" ng-show="showdata">
                        <div class="cupom-field">
                            <p class="cupom-label">Endereço</p>
                            <p class="cupom-titulo">Rua Real Grandeza, 183 - Botafogo / RJ</p>
                        </div>
                        <div  class="cupom-field">
                            <p class="cupom-label">Funcionamento</p>
                            <p class="cupom-validade">8hrs às 19hrs</p>
                        </div>
                        <a type="button" class="showdata-button" ng-click="showdata=false"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                    </div>    
                </div>

                <div class="code-container">
                    <div class="code-cover" ng-hide="showcode">
                        <button type="button" class="btn btn-info show-code-button" ng-click="showcode=true">Pegar Cupom</button>
                    </div>
                    <div class="code-data" ng-show="showcode">
                        <p class="cupom-message">APRESENTE AO CAIXA</p>
                        <p class="cupom-label">Nº DO CUPOM:</p>
                        <p class="cupom-code">{{cupom.code}}</p>
                    </div>
                </div> 
            </div>
        </div>
        <div class="clearfix" ng-if="($index+1)%4==0"></div>
        <div ng-repeat-end=""></div>
    </div>
</div>