body {
    width: 100%;
	color: #fff;
	background: linear-gradient(-45deg, #007db3, #00a1e6, #007db3, cornflowerblue);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

.top-buffer { 
    margin-top:20px; 
}

.top-buffer-sm { 
    margin-top:10px; 
}

.padding-default {
    padding: 10px;
}

.margin-default {
    margin: 10px;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }

h2 {
    color: #fff;
}


.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

html {
    width: 100%;
    height: 100%;
}

body.home-page {
    background-color: #eee;
}

.opa-field {
    border: none;
    height: 50px;
    background-color: #00a1e6;
    outline: none;
    color: #fff;
    transition: 0.2s ease;
    font-size: 0.8em;
    
}

.opa-field:hover {
    background-color: #00b3ff;
    transition: 0.2s ease;
}

.opa-field:focus {
    color: #fff;
    background-color: #1abaff;
    transition: 0.2s ease;
}

.opa-field::placeholder {
    color: #ccf0ff;
    transition: 0.2s ease;
}

.opa-field:disabled {
    background-color: #aaa;
}

.opa-field:disabled:hover {
    background-color: #aaa;
}

.opa-ghost-button {
    text-align: center;
    display:block;
    background-color: transparent;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    font-size: 1em;
    color: #fff;
    border: 2px solid white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.2s ease;
}

.opa-ghost-button:disabled {
    background-color:  #aaa;
}

.opa-ghost-button:disabled:hover {
    background-color:  #aaa;
}

.opa-ghost-button:hover {
    background-color:  #fff;
    text-decoration: none;
    color: #007db3;
}

.opa-button {
    text-align: center;
    display:block;
    background-color: #ff9999;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    font-size: 1em;
    color: #fff;
    border: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.2s ease;
}

.opa-button:disabled {
    background-color:  #aaa;
}

.opa-button:disabled:hover {
    background-color:  #aaa;
}

.opa-button:hover {
    background-color:  #ff6666;
    text-decoration: none;
    color: #fff;
}

.mini-opa-button {
    text-align: center;
    background-color: #ff9999;
    border-radius: 5px;
    font-size: 1.2em;
    margin-left: 5px;
    color: #fff;
    border: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.2s ease;
    height: 50px;
    width: 50px;
}

.mini-opa-button:disabled {
    background-color:  #aaa;
}

.mini-opa-button:disabled:hover {
    background-color:  #aaa;
}

.mini-opa-button:hover {
    background-color:  #ff6666;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.opa-button-adm {
    text-align: center;
    display:block;
    width: 100%;
    background-color: #ff9999;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.7em;
    color: #fff;
    border: none;
    text-transform: uppercase;
    transition: 0.2s ease;
}

.opa-button-adm:disabled {
    background-color:  #aaa;
}

.opa-button-adm:disabled:hover {
    background-color:  #aaa;
}

.opa-button-adm:hover {
    background-color:  #ff6666;
    text-decoration: none;
    color: #fff;
}

.mensagem {
    font-size: 0.7em;
    text-align: center;
    display: block;
    background-color: crimson;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px #ff758e;
}

.autorizado {
    font-size: 0.7em;
    text-align: center;
    display: block;
    background-color:limegreen;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px #98e698;
}

.signup-success {
    position: absolute;
    top: 40px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    height: 100%;
    z-index: 2;
    border-radius: 5px;
}

.signup-success p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
/*--------------------meuMenu-----------------------*/
#logo {
    margin: 25px;
    height: 50px;
    filter: brightness(0) invert(1);
}
/*--------------------meuMenu-----------------------*/

/*--------------------meuRodape-----------------------*/
#footer {
    color: #fff;
    height: 150px;
    margin-top: 50px;
}
/*--------------------meuRodape-----------------------*/

/*--------------------meuFiltro-----------------------*/

.sort-label:after {
  color: #fff;
  font-size: 1em;
  content: ' \f0d8';
  font-family: 'FontAwesome', sans-serif;
}
.sort-label.reverse:after {
  content: ' \f0d7';
  color: #fff;
  font-family: 'FontAwesome', sans-serif;
    font-size: 1em;
}

textarea:focus, input:focus{
    outline: none;
}

#order-options {
    display:flex;
}

.sort-button {
    height: 50px;
    padding: 15px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #00a1e6;
    font-size: 0.8em;
    margin-bottom: 20px;
}

.sort-button:hover {
    background-color: #00b3ff;
}

.filter-bar {
    border-radius: 5px;
    background-color:#0070a0;
    padding-top: 20px;
    -webkit-box-shadow: 0 7px 12px rgba(0,50,205,0.35);
    -moz-box-shadow: 0 7px 12px rgba(0,50,205,0.35);
    box-shadow: 0 7px 12px rgba(0,50,205,0.35);
}


/*--------------------meuFiltro-----------------------*/
/*--------------------Cupom-----------------------*/
.cupom-container {
    color: black;
    overflow: hidden;
    text-transform: uppercase;
}

.cupom-body {
    background-color: #fff;
    border-radius: 5px 5px 5px 0;
    overflow: hidden;
    -webkit-box-shadow: 0 7px 12px rgba(0,50,205,0.35);
    -moz-box-shadow: 0 7px 12px rgba(0,50,205,0.35);
    box-shadow: 0 7px 12px rgba(0,50,205,0.35);
}

.cupom-img {
    width: 100%;
    height: auto;
}

.btn-group {
    width: 100%;
}

.btn-group label {
    width: 100%;
}

.cupom-description-wrapper {
    position: absolute;
    top: 10px;
    left: 23px;
    font-weight: bold;
}

.cupom-description {
    background-color: #ff9999;
    color: #fff;
    font-weight: bold;
}

.cupom-category {
    background-color: red;
    color: #fff;
    font-size: 
}

.cupom-label {
    margin: 0;
    padding: 0;
    font-weight: bolder;
    font-size: 0.7em;
    opacity: 0.3;
}

.btn-primary {
    background-color: #008ECA;
}

.cupom-title {
    font-weight: bolder;
    color: #008ECA;
}

.cupom-code {
    margin: 0;
    padding: 0;
    font-weight: bolder;
    font-size: 1.8em;
}

.code-container {
    position: relative;
    top: 0px;
    left: 0px;
    height: 130px;
}

.code-cover {
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0;
    border-top: 2px solid #ccc;
    border-style: dashed;
    margin: 0;
    height: 130px;
    background-color: #fff;
    border-radius: 0px 5px 5px 5px;
    -webkit-box-shadow: 0 7px 12px rgba(0,50,205,0.35);
    -moz-box-shadow: 0 7px 12px rgba(0,50,205,0.35);
    box-shadow: 0 7px 12px rgba(0,50,205,0.35);
}

.code-data {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    border: 2px solid #fff;
    border-style: dashed;
    height: 130px;
    border-radius: 0px 10px 10px 10px;
    width: 100%;
    z-index: -1;  
}

@keyframes catchCode {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(70px);
        opacity: 0;
    }
}

#alimentacao:before {
    content: "\f0f5";
}

#viagem:before {
    content: "\f072";
}

#vestuario:before {
    content: "\f02b";
}
/*--------------------Cupom-----------------------*/
/*--------------------Login-----------------------*/
.login-box {
    padding: 20px 35px 35px 35px;
    color: #fff;
    border-radius: 5px;
    animation: appear 0.8s ease;
}

.animateAppear {
    animation: appear 0.8s ease;
}

.login-title {
    margin-bottom: 25px;
    color: white;
}

.input-group-text {
    text-align: center;
    border: none;
    background-color: #008ECA;
    color: #fff;
    padding: 0px;
    width: 50px;
}

.input-group-text i{
    margin: 0 auto;
}

.login-box .input-group {
    margin-bottom: 10px;
}

@keyframes appear {
    from {
        transform: translateY(30px) scale(0.8);
        opacity: 0;
    } to {
        transform: translateY(0px) scale(1);
        opacity: 1;
    }
}

.forgot-pass {
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: 0.2s ease;
}

.forgot-label {
    margin-top: 20px;
    font-size: 0.8em;
}

.forgot-pass:hover {
    border: 1px solid white;
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease;

}

.signup-wrapper{
    border-top: 1px solid #ccf0ff;
    padding-top: 20px;
}
/*--------------------Login-----------------------*/
/*--------------------Cadastro-----------------------*/
.signup-box {
    color: #fff;
    animation: appear 0.8s ease;
}

#estado {
    height: 50px;
}

#categoria {
    height: 50px;
}

.text-muted {
    color: #fff !important;
}

.form-control {
   border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.custom-control-label:before{
  background-color:white;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color:darkslategrey;
}

/*--------------------Cadastro-----------------------*/
/*--------------------Dashboard-----------------------*/
.cupom-adm {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    color: #000;
    background-color: #fff;
}  

.cupom-manager {
    color: #fff;
}

.button-adm-wrapper {
    overflow: hidden;
    border-radius: 5px;
}

#edit {
    background-color: #008ECA;
}

#edit:hover {
    background-color: #007db3;
}

#delete {
    background-color: crimson;
}

#delete:hover {
    background-color: darkred;
}


/*--------------------Dashboard-----------------------*/

