body {
    background-color: #F5F5F5;
    font-family: Roboto, sans-serif;
}

/*--------------------meuMenu-----------------------*/
#topbar {
    height: 50px;
    width: 100%;
    background-color: #FFF;
    border-bottom: 2px solid #008ECA;
    box-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);
}

#logo {
    height: 35px; 
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 6px;
}

#message {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 150px;
    background-color: #008ECA;
    margin-top: 100px;
    border-radius: 5px;
    text-align: center;
    color: #FFF;
    padding-top: 65px;
}
/*--------------------meuMenu-----------------------*/

/*--------------------meuFiltro-----------------------*/
#filtros {
    width: 100%;
    padding: 10px;
    text-align: center;
}

#order-options {
    width: 100%;
    padding: 10px;
    text-align: center;
}
/*--------------------meuFiltro-----------------------*/