body {
    
    font-family: Rubik, sans-serif;
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

body.home-page {
    background-color: #eee;
}

body.login-page {
   background-color:  #007db3; 
}

body.cadastro-page {
   background-color:  #007db3; 
}
/*--------------------meuMenu-----------------------*/
#topbar {
    display: block;
    height: 50px;
    background-color: #FFF;
    box-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);
}

#logo {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 35px;
    margin-top: 8px;
}




/*--------------------meuMenu-----------------------*/

/*--------------------meuFiltro-----------------------*/

.sort-label:after {
  color: #fff;
  content: '\f062';
  font-family: 'FontAwesome', sans-serif;
}
.sort-label.reverse:after {
  
    content: '\f063';
  color: #fff;
    font-family: 'FontAwesome', sans-serif;
}

.filter-label {
    font-weight: bold;
    color: #fff;
    font-size: 0.8em;
}

#search-field {
    -webkit-appearance: none;  /* Remove estilo padrão do Chrome */
    -moz-appearance: none; /* Remove estilo padrão do FireFox */
    appearance: none; /* Remove estilo padrão do FireFox*/
    padding: 5px;
    height: 37px;
    border-radius: 5px;
    border: 2px solid #fff;
    transition: 0.3s ease;
    width: 100%;
    color: #fff;
    background-color: #008ECA;
}

#search-field::placeholder {
    color: #fff;
}

#search-field:focus::placeholder {
    color: #008ECA;
}

#search-field:focus {
    background-color: #fff;
    transition: 0.3s ease;
    color:  #008ECA;
}

textarea:focus, input:focus{
    outline: none;
}

#city-options {
    width: 100%;
    padding: 8px;
    background-color: #008ECA;
    border: 2px solid white;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
}

.filter-boxes{
    padding: 15px;
}

#word-filter {
    height: 90px;
}

#city-filter {
    height: 90px;
}

#sort-options {
    height: 90px;
}


#order-options {
    display:flex;
}

.sort-button {
    padding: 7px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 5px;
    margin-right: 10px;
}

#filter-container{
    padding: 0px;
    border-radius: 0px 0px 10px 10px;
    background-color:  #008ECA;
    box-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);
}


/*--------------------meuFiltro-----------------------*/
/*--------------------Cupom-----------------------*/
.cupom-container {
    padding: 10px;
    font-family: 'Rubik', sans-serif;
}

.top-buffer { 
    margin-top:20px; 
}

.cupom-body {
    border-radius: 10px 10px 10px 0px;
    overflow: hidden;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);
    transition: max-height 0.5s ease;
}

.cupom-field {
    margin-bottom: 5px;
}

.cupom-body p {
    margin: 0;
}

.code-container {
    position: relative;
    top: 0px;
    left: 0px;
    height: 100px;
}

.code-cover {
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0;
    border-top: 2px solid #ccc;
    border-style: dashed;
    margin: 0;
    height: 100px;
    background-color: #fff;
    border-radius: 0px 10px 10px 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);
}

.cupom-thumb{
    border-radius: 5px 5px 2px 2px;
    width: 100%;
    margin-bottom: 10px;
}

.cupom-message {
    text-align: center;
    color: #999;
    
}

.code-data {
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0;
    border: 2px solid #ddd;
    border-style: dashed;
    margin: 0;
    height: 100px;
    background-color: #eee;
    border-radius: 0px 10px 10px 10px;
    width: 100%;
    z-index: -1;
    padding: 10px;
    
}

.code-data .cupom-label{
    margin: 0;
}

.cupom-code {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

@keyframes catchCode {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(70px);
        opacity: 0;
    }
}

@keyframes codeShow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.code-cover.ng-hide {
    animation: 0.5s catchCode ease;
}

.code-data.ng-hide-remove {
    animation: 0.5s codeShow ease;
}

.show-code-button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
}

.cupom-titulo {
    font-size: 1em;
    text-transform: uppercase;
    font-weight:bold;
}

.cupom-descricao {
    position: absolute;
    padding: 10px;
    top: -5px;
    left: 25px;
    background-color: #008ECA;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    text-transform: uppercase;
    max-width: 160px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);
    overflow-wrap: break-word;
}

.cupom-label {
    color: #aaa;
    font-size: 0.6em;
    font-weight: bold;
    text-transform: uppercase;
}

.cupom-validade {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.cupom-empresa {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.showdata-button {
    font-size: 1.8em;
    position: absolute;
    top:  40px;
    right: 25px;
    color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: chartreuse;
    text-align: center;
    padding-top: 3px;
    transition: 0.3s ease;
    box-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);
}

.showdata-button:hover {
    color: #fff;
    transform: scale(1.2);
    transition: 0.3s ease;
}

.category-label:before {
    position: absolute;
    right: 25px;
    top: -5px;
    width: 40px;
    height: 40px;
    background-color: coral;
    color: #fff;
    font-family: FontAwesome;
    border-radius: 50%;
    text-align: center;
    padding: 4px;
    font-size: 1.6em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);
}

#alimentacao:before {
    content: "\f0f5";
}

#viagem:before {
    content: "\f072";
}

#vestuario:before {
    content: "\f02b";
}
/*--------------------Cupom-----------------------*/
/*--------------------Login-----------------------*/
.login-box {
    padding: 20px 35px 35px 35px;
    color: #fff;
    border-radius: 5px;
    animation: appear 0.8s ease;
}

.login-title {
    margin-bottom: 25px;
}

.input-group-addon {
    border: none;
    background-color: #008ECA;
    color: #fff;
    width: 50px;
}

.input-group {
    margin: 0 auto;
    width:100%;
}

.login-box .input-group {
    margin-bottom: 10px;
}

.login-field {
    border: none;
    height: 50px;
    background-color: #00a1e6;
    outline: none;
    color: #fff;
    transition: 0.2s ease;
    
}

.login-field:hover {
    background-color: #00b3ff;
    transition: 0.2s ease;
}

.login-field:focus {
    color: #fff;
    background-color: #1abaff;
    transition: 0.2s ease;
}

.login-field::placeholder {
    color: #ccf0ff;
    transition: 0.2s ease;
}

@keyframes appear {
    from {
        transform: translateY(30px) scale(0.8);
        opacity: 0;
    } to {
        transform: translateY(0px) scale(1);
        opacity: 1;
    }
}

.opa-button {
    text-align: center;
    display:block;
    background-color: #ff9999;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    font-size: 1em;
    color: #fff;
    border: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.2s ease;
}

.opa-button:disabled {
    background-color:  #aaa;
}

.opa-button:disabled:hover {
    background-color:  #aaa;
}

.opa-button:hover {
    background-color:  #ff6666;
    text-decoration: none;
    color: #fff;
}

.forgot-pass {
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: 0.2s ease;
}

.forgot-label {
    margin-top: 20px;
    font-size: 0.8em;
}

.forgot-pass:hover {
    border: 1px solid white;
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease;

}

.signup-wrapper{
    border-top: 1px solid #ccf0ff;
    padding-top: 20px;
}

.mensagem {
    display: block;
    text-align: center;
    border-radius: 5px;
    background-color:crimson;
    color: #fff;
}
/*--------------------Login-----------------------*/
/*--------------------Cadastro-----------------------*/
.signup-box {
    color: #fff;
    animation: appear 0.8s ease;
}

.submit

.signup-box .input-group {
    margin-bottom: 10px;
}

.form-help {
    color: #fff;
}

.form-control {
   border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;

}

/*--------------------Cadastro-----------------------*/

