<div class="container top-buffer">
    <div class="row justify-content-center">
        <div class="col-10">
        <h4 class="login-title text-center">Cadastrar-se</h4>
        <p ng-show="mensagem.length" class="mensagem">{{mensagem}}</p>
        <form novalidate name="formulario" ng-submit="submeterEmpresa()">
          <div class="form-row">
            <div class="form-group col-md-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                         <span class="input-group-text opa-prepend"><i class='fa fa-lock fa-lg' aria-hidden='true'></i></span>
                    </div>
                    <label class="sr-only">CNPJ</label>
                    <input name="cnpj" class="form-control opa-field" ng-model="usuario.cnpj" required placeholder="CNPJ" minlength="19" maxlength="19" mask="99.999.999/9999-99">
                </div>
                <span ng-show = "formulario.$submitted && formulario.cnpj.$error.required"
                        class="mensagem">
                        CNPJ obrigatório
                </span>
            </div>
            <div class="form-group col-md-6">
              <div class="input-group">
                    <div class="input-group-prepend">
                         <span class="input-group-text opa-prepend"><i class='fa fa-lock fa-lg' aria-hidden='true'></i></span>
                    </div>
                    <label class="sr-only">RAZÃO SOCIAL</label>
                    <input name="razao" class="form-control opa-field" ng-model="usuario.razao" required placeholder="RAZÃO SOCIAL">  

                    
                </div>
                <span ng-show = "formulario.$submitted && formulario.razao.$error.required"
                        class="mensagem">
                        Razão Social obrigatório
                </span>
            </div>
          </div>
        <div class="form-row">
          <div class="form-group col-md-7">
            <div class="input-group">
                    <div class="input-group-prepend">
                         <span class="input-group-text opa-prepend"><i class='fa fa-lock fa-lg' aria-hidden='true'></i></span>
                    </div>
                    <label class="sr-only">LOGRADOURO</label>
                    <input name="logradouro" class="form-control opa-field" ng-model="usuario.logradouro" required placeholder="LOGRADOURO">

                     
                </div>
              
              <small class="form-text text-muted form-help">Ex. Rua Real Grandeza</small>
              <div class="input-group-prepend">
            
                    </div>
          </div>
            <div class="form-group col-md-2">
            <div class="input-group">
                    <div class="input-group-prepend">
                         <span class="input-group-text opa-prepend"><i class='fa fa-lock fa-lg' aria-hidden='true'></i></span>
                    </div>
                    <label class="sr-only">NÚMERO</label>
                    <input name="numero" class="form-control opa-field" ng-model="usuario.numero" placeholder="Nº">
                </div>
          </div>
          <div class="form-group col-md-3">
            <div class="input-group">
                    <div class="input-group-prepend">
                         <span class="input-group-text opa-prepend"><i class='fa fa-lock fa-lg' aria-hidden='true'></i></span>
                    </div>
                    <label class="sr-only">COMPLEMENTO</label>
                    <input name="complemento" class="form-control opa-field" ng-model="usuario.complemento" placeholder="COMPLEMENTO">
                    
                </div>
              <small class="form-text text-muted form-help">Ex. Quadra, Lote, Casa</small>
          </div>
        </div>
          <div class="form-row">
            
            
            <div class="form-group col-md-3">
              <div class="input-group">
                    <div class="input-group-prepend">
                         <span class="input-group-text opa-prepend"><i class='fa fa-lock fa-lg' aria-hidden='true'></i></span>
                    </div>
                    <label class="sr-only">BAIRRO</label>
                    <input name="bairro" class="form-control opa-field" ng-model="usuario.bairro" required placeholder="BAIRRO">

                    
                </div>
                <span ng-show = "formulario.$submitted && formulario.bairro.$error.required" 
                        class="mensagem">
                        Bairro Obrigatório
                    </span> 
            </div>
              <div class="form-group col-md-4">
              <div class="input-group">
                    <div class="input-group-prepend">
                         <span class="input-group-text opa-prepend"><i class='fa fa-lock fa-lg' aria-hidden='true'></i></span>
                    </div>
                    <label class="sr-only">CIDADE</label>
                    <input name="cidade" class="form-control opa-field" ng-model="usuario.cidade" required placeholder="CIDADE">

                    
                </div>
                  <span ng-show = "formulario.$submitted && formulario.cidade.$error.required" 
                        class="mensagem">
                        Cidade Obrigatória
                    </span> 
            </div>
              <div class="form-group col-md-2">
              <div class="input-group">
                    <div class="input-group-prepend">
                         <span class="input-group-text opa-prepend"><i class='fa fa-lock fa-lg' aria-hidden='true'></i></span>
                    </div>
                    <label class="sr-only">ESTADO</label>
                    <select id="estado" name="estado" ng-model="usuario.estado" class="form-control opa-field" required>
                      <option value="" disabled selected>UF</option>
                      <option value="1">RJ</option>
                      <option value="2">SP</option>
                      <option value="3">ES</option>
                    </select>
                    
                </div>
                  <span ng-show = "formulario.$submitted && formulario.estado.$error.required"
                        class="mensagem">
                        Estado obrigatório
                    </span>
            </div>
              <div class="form-group col-md-3">
              <div class="input-group">
                    <div class="input-group-prepend">
                         <span class="input-group-text opa-prepend"><i class='fa fa-lock fa-lg' aria-hidden='true'></i></span>
                    </div>
                    <label class="sr-only">CEP</label>
                    <input name="cep" class="form-control opa-field" ng-model="usuario.cep" required placeholder="CEP" mask="99999-999">

                    
                </div>
                  <span ng-show = "formulario.$submitted && formulario.cep.$error.required" 
                        class="mensagem">
                        CEP Obrigatório
                    </span> 
            </div>
          </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <div class="input-group">
                    <div class="input-group-prepend">
                         <span class="input-group-text opa-prepend"><i class='fa fa-lock fa-lg' aria-hidden='true'></i></span>
                    </div>
                    <label class="sr-only">TELEFONE</label>
                    <input name="telefone" class="form-control opa-field" ng-model="usuario.telefone" required placeholder="TELEFONE" mask="(99) 9?9999-9999">

                    
                </div>
                    <span ng-show = "formulario.$submitted && formulario.telefone.$error.required" 
                        class="mensagem">
                        Telefone Obrigatório
                    </span> 
                </div> 
                <div class="form-group col-md-6">
                    
                    <div class="input-group">
                     <div class="input-group-prepend">
                         <span class="input-group-text opa-prepend"><i class='fa fa-lock fa-lg' aria-hidden='true'></i></span>
                    </div>
                    <label class="sr-only">EMAIL</label>
                    <input type="email" name="email" class="form-control opa-field" ng-model="usuario.email" required placeholder="EMAIL">

                    
            </div>
                    <span ng-show = "formulario.$submitted && formulario.email.$error.required" 
                        class="mensagem">
                        Email Obrigatório
                    </span> 
                </div> 
            </div>
             <div class="form-row">
                <div class="form-group col-md-6">
                    <div class="input-group">
                    <div class="input-group-prepend">
                         <span class="input-group-text opa-prepend"><i class='fa fa-lock fa-lg' aria-hidden='true'></i></span>
                    </div>
                    <label class="sr-only">SENHA</label>
                    <input type="password" name="senha" class="form-control opa-field" ng-model="usuario.senha" required placeholder="DIGITE A SENHA">

                    
                </div>
                    <span ng-show = "formulario.$submitted && formulario.senha.$error.required" 
                        class="mensagem">
                        Senha obrigatória
                    </span> 
                </div> 
                <div class="form-group col-md-6">
                    <div class="input-group">
                    <div class="input-group-prepend">
                         <span class="input-group-text opa-prepend"><i class='fa fa-lock fa-lg' aria-hidden='true'></i></span>
                    </div>
                    <label class="sr-only">CONFIRME A SENHA</label>
                    <input type="password" name="senha2" class="form-control opa-field" ng-model="value2" required placeholder="CONFIRME A SENHA" >
                    
                    
                </div>
                    <span ng-show="formulario.$submitted && formulario.url.$error.required" 
                        class="mensagem">
                        Senha obrigatória
                    </span> 
                 </div>
                 
                </div> 
                <div class="form-row">
                    <div id="terms" class="form-group col-md-9">
                       <div class="custom-control custom-checkbox">
                          <input id="customCheck1" class="custom-control-input" type="checkbox" value="" ng-model="check" id="invalidCheck" name="check" checked required>
                        <span class="custom-control-indicator"></span>
                          <label class="custom-control-label" for="invalidCheck" >
                            Eu declaro ter lido e aceito os termos e condições.
                          </label>
                           <span class="form-text text-muted" ng-show="formulario.$submitted && formulario.url.$error.required" >Ex. Quadra, Lote, Casa</span>
                        </div>
                       
                    </div>
                    <div class="form-group col-md-3">
                        <button type="submit" class="opa-button submit">
                            ENVIAR
                        </button>
                    </div>
                </div>
        </form>
        </div>
    </div>
</div>