<div class="container top-buffer">
    <p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>
    <div class="row top-buffer justify-content-center">
        <form novalidate name="formulario" class="col-md-6" ng-submit="submeter()">
            <div >
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                         <span class="input-group-text opa-prepend"><i class='fa fa-lock fa-lg' aria-hidden='true'></i></span>
                    </div>
                    <label class="sr-only">NOME DO CUPOM</label>
                    <input name="titulo" class="form-control opa-field" ng-model="cupom.titulo" required maxlength="20" placeholder="NOME DO CUPOM">  
                    </div>
                    <small class="form-text text-muted form-help">Ex. Copo Promocional, Refrigerente 2L, Estojo de Maquiagem, etc.</small>
                     <span ng-show = "formulario.$submitted && formulario.titulo.$error.required"
                        class="mensagem">
                        NOME DO CUPOM OBRIGATÓRIO
                    </span>
                    <span ng-show="formulario.$submitted && formulario.titulo.$error.maxlength" 
                        class="mensagem">
                        NO MÁXIMO 20 CARACTERES
                    </span>
                </div>
                <div class="form-group">
                    <div class="input-group">
                    <label class="sr-only">Foto</label>
                    <div class="input-group-prepend">
                         <span class="input-group-text opa-prepend"><i class='fa fa-lock fa-lg' aria-hidden='true'></i></span>
                    </div>
                    <input name="thumbnail" class="form-control opa-field" ng-model="cupom.foto" required placeholder="LINK DA IMAGEM">

                     
                    </div>
                    <span ng-show = "formulario.$submitted && formulario.foto.$error.required" 
                        class="mensagem">
                        LINK DA FOTO OBRIGATÓRIO
                    </span>
                </div>

                <div class="form-group">
                    <div class="input-group">
                    <div class="input-group-prepend">
                         <span class="input-group-text opa-prepend"><i class='fa fa-lock fa-lg' aria-hidden='true'></i></span>
                    </div>
                    <label class="sr-only">TIPO DE PROMOÇÃO</label>
                    <input type="text" name="descricao" class="form-control opa-field" ng-model="cupom.descricao" placeholder="TIPO DE PROMOÇÃO">
                    </div>
                    <small class="form-text text-muted form-help">Ex. Pague 1 leve 2, 25% off, Ganhe nas compras acima de R$ 150,00, etc.</small>
                    <span ng-show = "formulario.$submitted && formulario.descricao.$error.required" 
                        class="mensagem">
                        DESCRIÇÃO OBRIGATÓRIA
                    </span>
                </div>
                
                <div class="form-group" ng-controller="validadeController">
                    <div class="input-group">
                    <label class="sr-only">VALIDADE</label>
                    <div class="input-group-prepend">
                         <span class="input-group-text opa-prepend"><i class='fa fa-lock fa-lg' aria-hidden='true'></i></span>
                    </div>
                      <input type="text" class="form-control opa-field" uib-datepicker-popup="{{format}}" ng-model="cupom.validade" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder="DATA DE VALIDADE"/>
                      <span class="input-group-btn">
                        <button type="button" class="mini-opa-button calendar-button" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i>
                        </button>
                      </span>
                    </div>
                    <span ng-show = "formulario.$submitted && formulario.validade.$error.required" 
                        class="mensagem">
                        VALIDADE OBRIGATÓRIA
                    </span>
                </div>

                <div class="form-group">
                    <div class="input-group">
                    <label class="sr-only">CATEGORIA</label>
                    <div class="input-group-prepend">
                         <span class="input-group-text opa-prepend"><i class='fa fa-lock fa-lg' aria-hidden='true'></i></span>
                    </div>
                    <select id="categoria" name="categoria" ng-model="cupom.categoria" class="form-control opa-field" 
                            required ng-controller="CategoriasController" 
                            ng-options="categoria.nome as (categoria.nome | uppercase) for categoria in categorias">
                        <option value="">CATEGORIA</option>
                    </select>
                   
                    </div>
                     <span ng-show="formulario.$submitted && formulario.categoria.$error.required" 
                        class="mensagem">
                        CATEGORIA OBRIGATÓRIA
                    </span>
                </div>
                    
                <button type="submit" class="opa-button" ng-disabled="formulario.$invalid">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    SALVAR
                </button>
                
                <a href="/#/empresa" class="opa-ghost-button top-buffer"><i class="fa fa-arrow-left" aria-hidden="true"></i> VOLTAR</a>
            </div>
        </form>
        
        <div class="col-sm-5 col-lg-4">
            <div class="cupom-container">
<div class="cupom-body">
            <img class="cupom-img" src="../img/loader.gif" ng-src="{{cupom.foto}}">
            <div class="cupom-description-wrapper">
                <div class="btn cupom-description btn-lg">
                {{cupom.descricao}}
                </div>
            </div>
    <div class="cupom-tabs padding-default">    
        <div class="btn-group btn-group-toggle text-center" data-toggle="buttons">
          <label class="btn btn-outline-secondary active btn-sm" ng-click="showdata = false">
            <input type="radio" name="options" id="option1" autocomplete="off" checked ><i class="fa fa-info"></i>&nbsp;&nbsp;INFO
          </label>
          <label class="btn btn-outline-secondary btn-sm" ng-click="showdata = true">
            <input type="radio" name="options" id="option2" autocomplete="off" ><i class="fa fa-map-marker"></i>&nbsp;&nbsp;LOCAL
          </label>
        </div>
     </div>

    <div>
        <div class="cupom-data padding-default" ng-hide="showdata">
                    <div>
                        <p class="cupom-label"><i class="fa fa-tag"></i>&nbsp;Item em promoção</p>
                        <p class="cupom-title">{{cupom.titulo}}</p>
                    </div>
                    <div>
                        <p class="cupom-label"><p class="cupom-label"><i class="fa fa-hourglass-end"></i>&nbsp;Válido até</p>
                        <p>{{cupom.validade | date:'dd/MM/yyyy'}}</p>
                    </div>
                    <div>
                        <span class="cupom-label"><i class="fa fa-building"></i>&nbsp;Oferecido por &nbsp;</span><span class="badge badge-pill badge-secondary">{{cupom.empresa}}</span>
                        
                    </div>         
            </div>
            <div class="cupom-data padding-default" ng-show="showdata">
                <div>
                    <p class="cupom-label"><i class="fa fa-map-marker"></i>&nbsp;Endereço</p>
                    <p>{{cupom.endereco}}</p>
                </div>
                <div>
                    <p class="cupom-label"><i class="fa fa-phone"></i>&nbsp;Telefone</p>
                    <p>{{cupom.telefone}}</p>
                </div>
            </div>    
        </div>
    </div>
        <div class="code-container">
            <div class="code-cover text-center padding-default" ng-if="cupom.catchstatus == null">
                    <div class="top-buffer-sm"></div>
                    <p class="cupom-label">CLIQUE PARA PEGAR O CUPOM<br> E VER O CÓDIGO PROMOCIONAL</p>
                    <button type="button" class="btn btn-warning top-buffer-sm" ng-if="cupom.pego == 1" ng-click="pegarCupom(cupom)" data-toggle="tooltip" data-placement="top" title="{{cupom.pego}} PESSOA PEGOU" tooltip><i class="fa fa-hand-paper-o"></i>&nbsp;
                    PEGAR CUPOM
                    </button>

                
                    <button type="button" class="btn btn-warning top-buffer-sm" ng-if="cupom.pego == 0" ng-click="pegarCupom(cupom)" data-toggle="tooltip" data-placement="top" title="NINGUÉM PEGOU AINDA" tooltip><i class="fa fa-hand-paper-o"></i>&nbsp;
                    PEGAR CUPOM
                    </button>

                    
                    <button type="button" class="btn btn-warning top-buffer-sm" ng-if="cupom.pego > 1" ng-click="pegarCupom(cupom)" data-toggle="tooltip" data-placement="top" title="{{cupom.pego}} PESSOAS PEGARAM" tooltip><i class="fa fa-hand-paper-o"></i>&nbsp;
                    PEGAR CUPOM
                    </button>

            </div>
            <div class="code-data padding-default">
                <p>APRESENTE AO CAIXA</p>
                <p class="cupom-label">Nº DO CUPOM</p>
                <p class="cupom-code">{{cupom.code}}</p>
            </div>
        </div>
</div>
</div>