<script>
    
    // Create a lightbox
(function() {
  var $lightbox = $("<div class='lightbox'></div>");
  var $img = $("<img>");
  // Add image and caption to lightbox

  $lightbox
    .append($img)

  // Add lighbox to document

  $('body').append($lightbox);

  $('.lightbox-gallery img').click(function(e) {
    e.preventDefault();

    // Get image link and description
    var src = $(this).attr("src");

    // Add data to lighbox

    $img.attr('src', src);

    // Show lightbox

    $lightbox.fadeIn('fast');

    $lightbox.click(function() {
      $lightbox.fadeOut('fast');
    });
  });

}());
</script>

<div class="cover-container container-fluid">
    <div class="project-head">
        <h1 class="project-main-title text-center">{{projeto.titulo}}</h1>
        <p class="category-label text-center">{{projeto.categoria}}</p>
    </div>
</div>

<div class="separator-grey"></div>

<div class="project-details container">
   <div ng-hide="projeto.testimonial == null || projeto.testimonial.length == 0" class="testimonial-box">
        <p class="testimonial-text">{{projeto.testimonial}}</p>
    </div>
    <div class="row">
            <div class="margin-placeholder col-md-8">
            <div class="project-cover"style="background-image: url('{{projeto.cover}}'); background-position: center;">
            </div>
            </div>
            <div class="margin-placeholder col-md-4">
                <p class="description-box">{{projeto.descricao}}</p>
            </div>
        </div>
    
            <div class="lightbox-gallery row">
                <div ng-hide="projeto.foto1 == null || projeto.foto1.length == 0" class="project-button-wrapper col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="project-button">
                        <img src="../img/loader1.gif" class="project-thumb img-responsive" style="width: 100%; height: auto;" ng-src="{{projeto.foto1}}">
                    </div>
                </div>
                
               <div ng-hide="projeto.foto2 == null || projeto.foto2.length == 0" class="project-button-wrapper col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="project-button">
                        <img src="../img/loader1.gif" class="project-thumb img-responsive" style="width: 100%; height: auto;" ng-src="{{projeto.foto2}}">
                    </div>
                </div>
                
                <div ng-hide="projeto.foto3 == null || projeto.foto3.length == 0" class="project-button-wrapper col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="project-button">
                        <img src="../img/loader1.gif" class="project-thumb img-responsive" style="width: 100%; height: auto;" ng-src="{{projeto.foto3}}">
                    </div>
                </div>
                
                <div ng-hide="projeto.foto4 == null || projeto.foto4.length == 0" class="project-button-wrapper col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="project-button">
                        <img src="../img/loader1.gif" class="project-thumb img-responsive" style="width: 100%; height: auto;" ng-src="{{projeto.foto4}}">
                    </div>
                </div>
                
                <div ng-hide="projeto.foto5 == null || projeto.foto5.length == 0"class="project-button-wrapper col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="project-button">
                        <img src="../img/loader1.gif" class="project-thumb img-responsive" style="width: 100%; height: auto;" ng-src="{{projeto.foto5}}">
                    </div>
                </div>
                
            </div>
                    
            <div class="other-projects" ng-show="(projetos | filter: {titulo: projeto.titulo} | filter: {categoria: '!' + projeto.categoria}).length">
                <div class="row">
                    <h1 id="portfolio-title" class="text-center">Outras entregas</h1>
                    <a class="project-button-wrapper col-md-3 col-lg-3 col-sm-6 col-xs-12 painel-animado" ng-repeat="projeto in projetos | filter: {titulo: projeto.titulo} | filter: {categoria: '!' + projeto.categoria} " href="/#/portfolio/{{projeto._id}}">
                        <div class="project-button">
                            <img src="../img/loader1.gif" ng-src="{{projeto.thumbnail}}" class="project-thumb img-responsive" style="width: 100%; height: auto;">
                        </div>
                    </a>
                </div>
			</div>	
    <a href="/#/home" class="voltar-button"><i class="fa fa-home" aria-hidden="true"></i>
&nbsp;Voltar</a>
</div>
