<div class="container">
    <div class="filter-order" id="order-options">
        <span id="filter-label">ORDENAR POR</span>
        
        <input selected ng-show="propertyName === 'pego'" type="radio" id="destaques"
         name="order" value="Recentes">
        <label class="sort-label" ng-click="sortBy('pego')" for="recentes" ng-class="{reverse: reverse}">Destaques </label>
        
        
        <input ng-show="propertyName === 'data'" type="radio" id="recentes"
         name="order" value="Recentes">
        <label class="sort-label" ng-click="sortBy('data')" for="recentes" ng-class="{reverse: reverse}">Recentes </label>
        
        
    </div>
</div>
<meu-cupom></meu-cupom>