<div class="container">
    <div class="row justify-content-center">
    <div class="login-box col-md-4 top-buffer">
            <h4 class="login-title text-center">Entrar</h4>
            <p ng-show="mensagem.length" class="mensagem" >{{mensagem}}</p>
            <form ng-submit="autenticar()">
                <div class="input-group">
                     <div class="input-group-prepend">
                         <span class="input-group-text opa-prepend"><i class='fa fa-briefcase fa-lg' aria-hidden='true'></i></span>
                    </div>
                    <input type="text" ng-model="usuario.cnpj" class="form-control opa-field" placeholder="CNPJ" mask="99.999.999/9999-99" mask-clean='true'>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                         <span class="input-group-text opa-prepend"><i class='fa fa-lock fa-lg' aria-hidden='true'></i></span>
                    </div>
                    <input type="password" ng-model="usuario.senha" class="form-control opa-field" placeholder="Senha">
                </div>
                <input type="submit" value="Entrar" class="opa-button signin">
                <p class="forgot-label text-center">Esqueceu a senha? <a href=" " class="forgot-pass">Clique aqui.</a></p>
                
            </form>

         
        <div class="signup-wrapper text-center top-buffer">
            <h4>Ainda não está no Opa!?</h4>
            <a href="#/cadastro" class="opa-button signup top-buffer">Cadastre-se agora</a>
        </div>
    </div>
</div>
</div>