<div class="menu-space"></div>
<div class="portfolio container">
    <script>
        $(document).ready(function () {
            function resizeInput() {
                $(this).attr('size', $(this).val().length);
            }

            $('input[type="text"]')
            // event handler
            .keyup(resizeInput)
            // resize on page load
            .each(resizeInput);
            $('input[name=filtroprojeto]').prop('disabled', true);
            
            $("#slide").on( "change input", function (){
                var value = $(this).val();
                if (value == 1) {
                $('input[name=filtro]').val("Me renovar").trigger('input');}
                else if (value == 2) {
                    $('input[name=filtro]').val("Orientar meu público").trigger('input');;
                }
                else if (value == 3) {
                    $('input[name=filtro]').val("Ser notado").trigger('input');
                }
                else if (value == 4) {
                    $('input[name=filtro]').val("Ser reconhecido");
                }
                else if (value == 5) {
                    $('input[name=filtro]').val("Vender mais").trigger('input');
                }
                else if (value == 6) {
                    $('input[name=filtro]').val("Fidelizar meu público").trigger('input');
                }
                else {
                    $('input[name=filtro]').val("Ser lido").trigger('input');
                };
            });
        });
    </script>
    <div class="row">
        <h1 id="portfolio-title" class="section-title text-center">Do que você precisa?</h1>
    </div>
    <div class="row">
        <div class="range-slider col-md-12">
            <input ng-model="rangemodel" type="range" value="4" id="slide" class="input-range" name="mySlider" min="1" max="7" ng-change="filtroRange()"/>
            <input class="project-category text-center col-xs-12"  type="text" name="filtro" placeholder="Deslize o controle para responder">
        </div>
    </div>
    <div class="row" ng-init="limit = 8">
        <a class="project-button-wrapper col-md-3 col-lg-3 col-sm-6 col-xs-12 painel-animado" ng-repeat="projeto in projetos | filter: categoryFilter | limitTo: limit as results" href="/#/portfolio/{{projeto._id}}">
            <div class="project-button">
                <img src="../img/loader1.gif" ng-src="{{projeto.thumbnail}}" class="project-thumb img-responsive" style="width: 100%; height: auto;">
            </div>
        </a>
    </div>
    <div class="row text-center">
        <button class="showmore-button btn" ng-hide="results.length === items.length" 
                ng-click="limit = limit +4"><i class="fa fa-angle-double-down" aria-hidden="true"></i>&nbspMais Projetos</button>
    </div>
</div>